.startButton::after {
  content: "🏁";
}

.startButton:hover::after {
  content: "🚩";
}

.settings,
.logs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  font-size: 0.75rem;
  margin: auto;
}

.settings {
  &Entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  &Submit {
    display: flex;
    justify-content: end;
  }

  label {
    display: flex;
    align-items: center;
  }

  button,
  input {
    font-size: 0.7rem;
  }

  .datalist,
  input {
    width: 7rem;
    text-align: left;
  }

  input[type="checkbox"] {
    width: auto;
  }
}

.logs {
  &Entry,
  &Timer {
    margin-bottom: 0.5rem;
  }

  &Timer {
    color: blue;
  }

  &Entry[data-type="OK"] {
    color: green;
  }

  &Entry[data-type="ERR"] {
    color: red;
  }

  &Entry[data-type="INFO"] {
    color: gray;
  }
}

.datalist {
  display: flex;
  align-content: center;

  button {
    font-size: 0.3rem;
    padding: 0 0.15rem;
  }

  input {
    width: 100%;
  }
}

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  min-width: 7rem;
  font-size: 0.7rem;

  &Entry {
    padding: 0.5rem 0.25rem;
  }

  &Entry:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
