.startButton::after {
  content: "🏁";
}

.startButton:hover::after {
  content: "🚩";
}

.settings,
.logs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  font-size: 0.75rem;
  margin: auto;
}

.settings {
  &Entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &Submit {
    display: flex;
    justify-content: end;
  }

  label {
    display: flex;
    align-items: center;
  }

  button,
  input {
    font-size: 0.7rem;
  }

  input {
    width: 6rem;
    text-align: left;
  }

  input[type="checkbox"] {
    width: auto;
  }
}

.logs {
  &Entry {
    margin-bottom: 0.5rem;
  }

  &Entry[data-type="SUCCESS"] {
    color: green;
  }

  &Entry[data-type="FAIL"] {
    color: red;
  }
}
